<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>redis-session</display-name>

  <filter>
    <filter-name>InitFilter</filter-name>
    <filter-class>io.github.xiaoyureed.filter.core.InitFilter</filter-class>
    <init-param>
      <param-name>redisSessionPath</param-name>
      <param-value>classpath:config.properties</param-value>
    </init-param>
  </filter>
  <!--<filter>-->
    <!--<filter-name>EncodeFilter</filter-name>-->
    <!--<filter-class>io.github.xiaoyureed.filter.EncodeFilter</filter-class>-->
    <!--<init-param>-->
      <!--<param-name>encode</param-name>-->
      <!--<param-value>UTF-8</param-value>-->
    <!--</init-param>-->
  <!--</filter>-->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>io.github.xiaoyureed.filter.LoginFilter</filter-class>
  </filter>

  <!--<filter-mapping>-->
    <!--<filter-name>EncodeFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->
  <filter-mapping>
    <filter-name>InitFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>io.github.xiaoyureed.servlet.LoginServlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>pass</param-name>
      <param-value>123</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>io.github.xiaoyureed.servlet.HelloServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
